/.metadata
/java/.metadata
/java/RemoteSystemsTempFiles
/java/math_question/.classpath
/java/math_question/.gitignore
/java/math_question/.project
/java/math_question/.settings
/java/math_question/bin
